<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!--Message View-->
<%- messages() %>
<!--Display Errors-->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
        <% }) %>
    </ul>
<% } %>

<!--Account Management View-->
<div id="account-management-div">
    <h2 id="welcome-message">Welcome <%= locals.accountData.account_firstname %></h2>
    <a title="Update account information link" href="/account/update-account/<%- locals.accountData.account_id %>">Update Account Information</a>
    <!--Use ejs conditional statements to show inventory management section based on whether or not the user is logged in (1 = logged in, 0 = not logged in)-->
    <% if (locals.accessLevel === 1) { %>        
        <h3>Inventory Management</h3>        
        <p><a title="Link to inventory management" href="/inv/management">Inventory Management</a></p>
    <% } %>
</div>
<div id="account-reviews-div">
    <h2 id="account-reviews-heading">My Reviews</h2>    
    <% if (reviews && reviews.length > 0) { %>
        <ol id="account-reviews-list">
            <% reviews.forEach(r => { %>
                <li>
                    Reviewed the <%= r.inv_year %> <%= r.inv_make %> <%= r.inv_model %> 
                    on <%= r.review_date %> | 
                    <a href="/reviews/modify/<%= r.review_id %>" class="account-review-link" title="Click to Modify">Modify</a> |
                    <a href="/reviews/delete/<%= r.review_id %>" class="account-review-link" title="Click to Delete">Delete</a>
                </li>
            <% }) %>
        </ol>
    <% } else { %>
        <p>No Reviews Posted Yet.</p>
    <% } %>    
</div>

