<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!--Message View-->
<%- messages() %>
<!--Display Errors-->
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error=> { %>
        <li>
            <%= error.msg %>
        </li>
        <% }) %>
    </ul>
<% } %>

<!--Add Inventory Form-->
<div id="add-inventory-form-div">
    <form id="inventory-form" action="/inv/add-inventory" method="post">
        <label>Classification Name: <%- classificationList %></label><!--Call classification list built in Utilities function-->
        <label>Make: <input type="text" name="inv_make" required value="<%= locals.inv_make %>"></label>
        <label>Model: <input type="text" name="inv_model" required value="<%= locals.inv_model %>"></label>
        <label>Year: <input type="number" name="inv_year" min="1900" max="2099" required value="<%= locals.inv_year %>"></label>
        <label id="inventory-description">Description: <textarea name="inv_description" rows="5" cols="22" wrap="soft" required><%= locals.inv_description %></textarea></label>
        <label>Image Path: <input type="text" name="inv_image" required value="<%= locals.inv_image %>"></label>
        <label>Thumbnail Path: <input type="text" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>"></label>
        <label>Price: <input type="number" name="inv_price" min="0" placeholder="No commas or decimals." required value="<%= locals.inv_price %>"></label>
        <label>Miles: <input type="number" name="inv_miles" min="0" placeholder="No commas or decimals." required value="<%= locals.inv_miles %>"></label>
        <label>Color: <input type="text" name="inv_color" required value="<%= locals.inv_color %>"></label>
        <input type="submit" id="submit-new-inventory" value="Submit New Inventory">
    </form>
</div>